# Created by .ignore support plugin (hsz.mobi)
/.idea
/src/Joint_Dataset_Group1.xlsx
/res/Sen_withEmo_tr_joy.csv
/res/Sen_withEmo_tr_an.csv
/res/Joint_dataset_group1.csv
/res/emoiton_2.csv
/res/Sen_withEmo_tr_love.csv
/res/Sen_withEmo_tr_sadness.csv
/res/emoiton_3.csv
