# Created by .ignore support plugin (hsz.mobi)
.idea/
Emotion_And_Polarity_SO.iml
src/replacing/POSTagger.java
src/replacing/RemoveNotEnglishWords.java
anger.csv
out/
textsMoodAndModality.csv
textsPoliteAndImpolite.csv
training_anger/
lib/stanford-corenlp-models-current.jar
