# Created by .ignore support plugin (hsz.mobi)
.idea/
Emotion_And_Polarity_SO.iml
src/META-INF
src/replacing/POSTagger.java
src/replacing/RemoveNotEnglishWords.java
anger.csv
out/
textsMoodAndModality.csv
textsPoliteAndImpolite.csv
training_anger/
